.Row {
  padding: 5px 10px 5px 10px;
}

.Card {
  display: inline-block;
  outline: 2px solid white;
}

.handle {
  text-align: center;
  background-color: goldenRod;
  padding: 5px 10px 5px 10px;
  margin: 0;
  outline: 1px solid black;
}

.selected {
  outline: 2px solid lime;
}
