.EditRow {
  width: 150px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.Select {
  max-width: 90%;
}

.EditRow label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.EditRow label > span {
    width: 48%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.EditRow span.required {
    color:red;
}

.EditRow input.input-field {
    width: 90%;
}

.EditRow input.input-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.EditRow .input-field:focus {
    border: 1px solid #0C0;
}

.EditRow input[type=submit],
.EditRow input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.EditRow input[type=submit]:hover,
.EditRow input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
