.Row {
  padding: 3px 10px 3px 10px;
  border-bottom: 0.15em solid gray;
}

.selected-row{
  padding: 5px 0px 5px 0px;
}

.selected-title-right {
  float: right;
  color: red;
}

.selected-title-left {
  float: left;
  color: red;
}
