html, body {
margin: 0;
padding: 0; }

.app-container {
  position: relative;
}

#svg-container {
  position: absolute;
}

.SandBox {
  background-color: #434343;
  background-image: linear-gradient(#434343, #282828);
}

.grid {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .6) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .6) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .6) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .6) 76%, transparent 77%, transparent);
  background-size: 20px 20px;
  height:100%;
}

.toggle-img {
  height: 35px;
  width: 35px;
}

.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.45s ease-out 0;
position: fixed;
top: 200px;
left: 160px;
z-index: 1;
cursor: pointer;
}

.Sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.15s ease-out 0;
width: auto;
padding: 1.5em;
background: #19C4BC;
z-index: 10;
}

.Sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}

.Sidebar li a {
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.Sidebar a:hover {
  color: rgba(0, 0, 0, 0.61);
}

#slide:checked + .container .Sidebar {
left: -190px;
 }

#slide:checked + .container .toggle {
left: 10px;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
 }


#slide {
display: none;
}
