.Table {
  position: absolute;
  display: inline-block;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  z-index: 1;
  min-width: 90px;
}

.row-break {
  height: 1px;
  background-color: gray
}

.handle {
  text-align: center;
  /* color: lightgray; */
  background-color: #19C4BC;
  padding: 5px 10px 5px 10px;
  margin: 0;
}

.selected-table {
  z-index: 10;
  outline-color: lime;
  outline-width: 3px;
  outline-style: solid;
}
