.Table {
  position: absolute;
  display: inline-block;
  border-color: goldenRod;
  border-width: 2px;
  border-style: solid;
  z-index: 1;
  min-width: 90px;
}

.handle {
  text-align: center;
  background-color: goldenRod;
  padding: 5px 10px 5px 10px;
  margin: 0;
}

.selected-table {
  z-index: 1000;
  border-color: white;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
}
