@import 'EditRow';
@import 'Header';
@import 'LoadScreen';
@import 'Row';
@import 'SandBox';
@import 'SideBar';
@import 'Table';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// * {
//   outline: 1px solid red;
// }
