.LoadScreen {
  position: absolute;
  background-color: LightGray;
  padding: 0.5%;
  z-index: 500;
}

.LoadScreen h4 {
  margin-top: 0;
}

.LoadScreen h4 button {
  float: right;
}

.load-btn {
  padding: 1%;
  background-color: lime;
}

.danger-btn {
  padding: 1%;
  background-color: crimson;
}
